USE [master]
GO
/****** Object:  Database [Bank1]    Script Date: 17/05/2023 12:01:55 ******/
CREATE DATABASE [Bank1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bank1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bank1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank1]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 17/05/2023 12:01:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(5000,1) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Balance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movements]    Script Date: 17/05/2023 12:01:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](255) NOT NULL,
	[AmountOfMoney] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[TimeOfMovement] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Username], [Password], [Balance]) VALUES (5000, N'tomasp03', N'1234abcd', 4050)
INSERT [dbo].[Customers] ([Id], [Username], [Password], [Balance]) VALUES (5001, N'diegom', N'12345678', 6200)
INSERT [dbo].[Customers] ([Id], [Username], [Password], [Balance]) VALUES (5002, N'rdepaul', N'asdfghjk', 5000)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Movements] ON 

INSERT [dbo].[Movements] ([Id], [Type], [AmountOfMoney], [Balance], [CustomerId], [TimeOfMovement]) VALUES (1, N'Withdraw', 450, 5250, 5000, CAST(N'2023-05-17T11:46:57.710' AS DateTime))
INSERT [dbo].[Movements] ([Id], [Type], [AmountOfMoney], [Balance], [CustomerId], [TimeOfMovement]) VALUES (2, N'Deposit', 100, 5350, 5000, CAST(N'2023-05-17T11:47:11.123' AS DateTime))
INSERT [dbo].[Movements] ([Id], [Type], [AmountOfMoney], [Balance], [CustomerId], [TimeOfMovement]) VALUES (3, N'Transfer out to diegom (id: 5001)', 1300, 4050, 5000, CAST(N'2023-05-17T11:47:30.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[Movements] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__536C85E40C19570C]    Script Date: 17/05/2023 12:01:56 ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__87909B1538F12580]    Script Date: 17/05/2023 12:01:56 ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_password]    Script Date: 17/05/2023 12:01:56 ******/
CREATE NONCLUSTERED INDEX [idx_password] ON [dbo].[Customers]
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_username]    Script Date: 17/05/2023 12:01:56 ******/
CREATE NONCLUSTERED INDEX [idx_username] ON [dbo].[Customers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_customerid]    Script Date: 17/05/2023 12:01:56 ******/
CREATE NONCLUSTERED INDEX [idx_customerid] ON [dbo].[Movements]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movements] ADD  DEFAULT (getdate()) FOR [TimeOfMovement]
GO
ALTER TABLE [dbo].[Movements]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
USE [master]
GO
